/*
* custome.css
* File include item for our custome css only
******************************************************************************/
/* .card-datatable
{
  overflow-x: scroll;
} */
p {
  margin: 0;
}

.Statistics-card-body {
  padding: 1rem;
  height: 100%;
}

.Statistics-card-icon {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.Statistics-card-body h5 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
}

.Statistics-card-body .Statistics-num span:nth-of-type(2) {
  color: #8F8E91;
  font-size: 0.81em;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.07px;
}
.Statistics-card-body .Statistics-num a
{
  color:  #6149AF;
  font-size: 0.81em;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  text-decoration-line: underline;
}
.above-table
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem !important;
}
.table>:not(caption)>*>* {
  padding: .55rem .3rem !important;
}

table tbody {
  font-size: 14px;
}

.collapse-item-head
{
  color: #0C090F;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}
.collapse-item-body td:nth-child(4),
.collapse-item-body td:nth-child(5)
{
  color: #0C090F;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;

}

.collapse-item-head,
.collapse-item-body
{
  display: none;
  transition: display .5s ease-in-out;
}
.collapse-item-head.show,
.collapse-item-body.show
{
  display: table-row;
  background-color: #eeedf3;
  border-right: 1px solid #6149AF;
  border-left: 1px solid #6149AF;
}
.users-table tbody tr td:first-of-type {
  cursor: pointer;
  text-align: center;
}
.tableFooter
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width:768px) {
  .Statistics-card-body h5
  {
    font-size: 16px;
    letter-spacing: -0.56px;
  }
  .above-table
  {
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
  }
  .card-datatable
  {
    overflow-x: scroll;
  }
  .tableFooter
{
  justify-content: center;
  gap: .5rem;
}
}
/* matches page */
.match-name-td
{
  display: flex;
  align-items: center;
  gap: .25rem;
}

.match-name-td div
{
  display: flex;
  align-items: center;
}
.match-name-td img
{
  height: 28px;
  width: 28px;
}

.match-name-td .match-vs
{
  color: #6149AF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* league */
.modal-remove-icon-div
{
  width: 100px;
  height: 100px;
  background-color: #FBE7E8;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* filter */
.offcanvas-body .filter-head
{
  color: #0C090F;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
/* settings */
.img-btn-div
{
  bottom: 0;
  right: 0px;
}
.img-btn-div label
{
  padding: 5px;
}
/* modal */
.modal-header
{
  border-bottom: 1px solid rgba(75,70,92,.05) !important;
  padding-bottom: 20px;
}
.modal-footer
{
  border-top: 1px solid rgba(75,70,92,.05) !important;
  padding-top: 20px;
}
/* Notification */
/* .createNotification-dropdown .dropdown-item:hover i,
.createNotification-dropdown .dropdown-item:focus i
 {
  display: block;
 } */
 .above-table .dropdown-toggle::after
 {
  margin-left: .5em;
 }