/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'VariableFont_HEXP';
  src: url(../webfonts/ReadexPro-VariableFont_HEXP\,wght.ttf);
}

/* Start Variables */

:root {
  --primary-color: #1781AA;
  --primary-hover-color: #0f607f;
  --primary-border: #6ec4e5;
}

.primary-bg
{
  background-color: var(--primary-color);
}
.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: unset;
}

.primary-btn:hover {
  background-color: var(--primary-hover-color);
  color: #fff;
}

.muted-btn
{
  background-color: #198ebd9c;
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
  color: #ffff;
}
.primary-outline-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 45px;
}

.primary-outline-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.primary-border
{
  border-color : var(--primary-border) !important;
}
.primary-text,
.primary-text::placeholder
{
  color: var(--primary-color) !important
}
/* End Variables */

body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: 'VariableFont_HEXP';
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

/* Header Style */
.navbar .navbar-nav .nav-link {
  color: var(--primary-color);
  letter-spacing: 0.576px;
}

.navbar .navbar-nav .nav-link:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--primary-color);
}

.navbar .navbar-collapse .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
/* first section Style */
.home-pg,.conatctUs-pg
{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
}
.home-s1 video {
  margin-top: -315px;
}

.home-s1 .s1-p-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #0000, #0000, #fff);
  position: absolute;
  top: 0;
  right: 0;
}

.home-s1 p {
  position: absolute;
  right: 50px;
  bottom: 34%;
  color: var(--primary-color);
  font-size: 2.5rem;
}

/* 2 section Style */
.home-s2 {
  margin-top: -150px;
  background-color: #ffff !important;
  z-index: 2;
  position: relative;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-s2 .up-title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.432px;
}

.home-s2 .up-title p:first-of-type {
  color: var(--primary-color);
}

.home-s2 .up-title p:nth-of-type(2) {
  background-color: var(--primary-color);
  color: #fff;
}

.home-s2 .filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 1rem;
  border: 1px solid var(--primary-color);
}

.home-s2 .filter .filter-item {
  position: relative;
}

.home-s2 .filter .filter-item:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 1px;
  height: 60%;
  background-color: #979dad85;
  top: 20%;
}

.home-s2 .filter .filter-item .select-btn {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.home-s2 .filter .filter-item select {
  border-radius: unset;
  border: unset;
  width: 145px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.432px;
  padding: 0 .5rem 0 .2rem;
}

.home-s2 .home-s2-btn {
  padding: 7.5px 20px;
}
/* home footer style */
footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  padding: .7rem;
}

footer .footer-e {
  display: flex;
  align-items: center;
  gap: .5rem;
}

footer .footer-e .e-title {
  color: #F4F7F8;
  font-weight: 400;
  letter-spacing: 0.48px;
}

footer .p-counter {
  background-color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 45px;
  color: var(--primary-color);
  letter-spacing: .3rem;
  font-weight: 500;
}

/* media Quere */
@media (max-width:1025px){
  .home-pg
  {
    overflow: hidden;
  }
  .home-s1 video
  {
    margin-top: -50px;
  }
  .home-s1 .s1-p-container
  {
    background-image:  linear-gradient(to right, #0000, #fff);;
  }
  .navbar .navbar-collapse .social {
    justify-content: center;
    gap: 1.5rem;
    padding: .5rem 0 1rem;
  }
}
@media (max-width:767px) {
  .home-pg
  {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .conatctUs-pg
  {
    height: calc(100vh - 50px);
    display: block;
  }
  .home-s1 video,
  .home-s2 {
    margin-top: 0;
  }
  .home-s1 p {
    right: 3px;
    bottom: 20%;
    font-size: 1rem;
  }

  .home-s2 {
    z-index: unset;
    height: unset;
  }

  .home-s2 .up-title p
  {
    font-size:15px
  }
  .home-s2 .filter
  {
    padding: .5rem;
    justify-content: flex-start;
  }
  .home-s2 .filter .filter-item
  {
    font-size: 14px;
  }
  footer {
    gap: .2rem;
    padding: 0.4rem;
    z-index: 1;
    position: relative;
  }

  footer .footer-e {
    gap: .4rem;
  }
}

/* start courses page style */
.courses-pg,
.ourCompany-pg {
  position: relative;
  height: 100vh;
}

/* courses page Header Style */
.courses-pg .navbar .navbar-nav .nav-link {
  color: #fff;
}

/* courses page video */
.courses-pg .home-s1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.courses-pg .home-s1 video {
  position: relative;
  right: 25%;
  bottom: 0;
  margin-top: -140px;
}

.courses-pg .home-s2 {
  margin-top: 0;
}

.courses-pg .home-s1 .layer-bg {
  background: #1990BE;
  mix-blend-mode: multiply;
}

.courses-pg .home-s2 {
  background-color: unset !important;
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
}

.courses-pg .home-s2 .filter {
  background-color: #fff;
  border: unset;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.courses-pg .home-s2 .filter .filter-item {
  padding-right: 5%;
}

.courses-pg .home-s2 .filter .filter-item:not(:last-of-type)::after {
  height: 100%;
  top: 0;
}

.home-s2 .filter .filter-item label {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.432px;
}

/* courses page footer */
.courses-pg footer {
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

/* courses page media Querey */
@media (max-width:1023px) {
  .courses-pg .home-s1 video
  {
    right: 60%;
  }
}
@media (max-width:991px) {
  .courses-pg
  {
    height: calc(100vh - 50px);
  }
  .courses-pg .navbar 
  {
    background-color: var(--primary-color);
  }
}
@media (max-width:767px) {

  /* start courses page style */
  /* .courses-pg {
    height: 100vh;
  } */

  /* courses page video */
  .courses-pg .home-s1 {
    position: unset;
    height: unset;
  }

  .courses-pg .home-s1 .s1-p-container
  {
    height: 100%;
  }

  .courses-pg .home-s1 video {
    right: 100%;
    top: 0;
    height: 100vh;
  }

  .courses-pg .home-s2 {
    padding: 1rem 0.2rem;
  }

  .courses-pg .home-s2 .filter {
    padding: 0.5rem;
  }

  .home-s2 .filter .filter-item label {
    font-size: 14px;
  }

  .courses-pg footer {
    background-color: var(--primary-color);
  }
    .home-s2 .filter .filter-item
    {
      padding-right: unset;
    }
}

/* start courses cards page style  */
/* cards style */
.card-title {
  font-size: 14px;
}

.card-text {
  font-size: 11px;
}

.card-title,
.card-text {
  color: var(--primary-color);
}
.courses-cards-pg .card .btn,
.trainers-cards-pg .card .btn
{
  font-size: .8rem;
}

.courses-cards-pg footer,
.trainers-cards-pg footer {
  position: unset;
}
.courses-cards-pg
{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.classrooms-cards .card
{
  width: 240px;
}
.courses-cards-pg .rate-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  margin-top: -36px;
}

.courses-cards-pg .add-btn {
  border-radius: unset;
}

.courses-cards-pg .rating,
.courses-cards-pg .booking-text {
  font-size: 1.5rem;
  width: 75%;
  padding: 0.375rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
}

.star {
  color: #fff;
  line-height: 1.5rem;
  transition: color 0.3s;
}

.star:hover,
.star.active {
  color: #ffcc00;
}

/* media querey courses-cards-pg */
@media (max-width:768px) {
  .courses-cards-pg .row
  {
    justify-content: center;
  }
  .courses-cards-pg .rating {
    font-size: 1rem;
    width: 65%;
  }
}

.courses-cards-pg .booking-container {
  justify-content: flex-end;

}

.courses-cards-pg .booking-text {
  font-size: initial;
  color: #fff;
}
.courses-cards-pg .details-s1 .img-container,
.courses-cards-pg .details-s1 .img-container img
{
  width: 350px;
  height: 350px;
}
.courses-cards-pg .details-s1,
.details-pg .details-s1 {
  display: flex;
  align-items: center;
}

.courses-cards-pg .details-s1 .card,
.details-pg .details-s1 .card {
  background-color: #6fc7e842;
  width: 100%;
}

.courses-cards-pg .details-s1 .rate-add {
  padding-bottom: unset;
}

.courses-cards-pg .details-s1 .card .price-el,
.details-s1 .consultant-el {
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 50px;
  padding: 0.2rem 0.5rem;
}

/* start trainers page stayle  */
/* cards style */
.trainers-cards-pg
{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.trainers-cards-pg .cards-s1
{
  height: calc(100vh - 150px);
  overflow-y: auto;
}
.trainers-cards-pg .card-container
{
  width: 240px;
}
.trainers-cards-pg .cards-s1 .img-container
{
  width: 110px;
  height: 110px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  margin: auto;
}
.trainers-cards-pg .cards-s1 .imgCard {
  width: 100px;
  height: 100px;
  margin: auto;
  box-shadow: 0px -4px 5px 0px #a8a8a8;
}

.trainers-cards-pg .cards-s1 .card {
  border-color: var(--primary-color);
  background-color: #6fc7e842;
}
.trainers-cards-pg .cards-s1 .card:hover
{
  background-color: var(--primary-color);
}
.trainers-cards-pg .cards-s1 .card:hover .card-title,
.trainers-cards-pg .cards-s1 .card:hover .card-text,
.trainers-cards-pg .cards-s1 .card:hover .btn
{
  color: #fff !important;
}
.trainers-cards-pg .cards-s1 .card:hover .btn
{
  background-color: #6fc7e842 ;
}
/* media querey trainers-cards-pg */
/* @media (max-width:768px) {

  .trainers-cards-pg .cards-s1 .imgCard {
    width: 75px;
    height: 75px;
    margin: auto;
  }
} */

/* start Trainers Details page style */
.details-pg
{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.details-s1 .cardImg {
  width: 200px;
  height: 200px;
  margin: auto;
}

.details-pg .rate-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.details-pg .rating {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}

/* start our compnay page style */
.ourCompany-pg
{
  background-image: url(../img/man-woman-dubai.jpg);
  background-size: 120%;
  background-position: center right;
}
.ourCompany-pg .p-container {
  top: 30%;
}
.ourCompany-pg .p-container .layer-bg,
.ourServices-pg .p-container .layer-bg
{
  background-color: #198fbe;
  mix-blend-mode: multiply;
  z-index: -1;
}
.ourCompany-pg .p-container h1 {
  font-size: 4rem;
  letter-spacing: .4rem
}
.ourCompany-pg .p-container .content-con
{
  padding: 3rem 2rem;
}
.ourCompany-pg .content-con p
{
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 400;
}
.ourCompany-pg .content-con p span
{
  font-size: 2.5rem;
}
@media (max-width:768px) {
  .ourCompany-pg
  {
    background-size: 235% 120%;
    background-position: 85% 50%;
    background-repeat: no-repeat;
  }
  .ourCompany-pg .p-container h1 {
    font-size: 2rem;
    letter-spacing: .4rem
  }
  .ourCompany-pg .content-con p
{
  font-size: 1rem;
}
.ourCompany-pg .p-container .content-con
{
  padding: 1rem .6rem;
}
.ourCompany-pg .content-con p span
{
  font-size: 1.5rem;
}
  
}

/* start our services page style */
.ourServices-pg
{
  background-image: url(../img/city-architectural-d.png);
  background-size: 112%;
  background-position: 100% 100%;
  height: 100vh;
}
.ourServices-pg .p-container {
  top: 10%;
}
.ourServices-pg .p-container h1 {
  font-size: 4rem;
  letter-spacing: .5rem
}
.ourServices-pg .p-container .content-con
{
  padding: 2rem;
}
.ourServices-pg .content-con p
{
  text-align: justify;
  line-height: 2.5rem;
}
.ourServices-pg .partner-container
{
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}
.ourServices-pg .partner
{
  padding: 10px 15px;
  background-color: #ffffff8c;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}
.ourServices-pg .partner img
{
  height: 50px;
}
@media (max-width:768px) {
  .ourServices-pg
  {
    background-size: 100% 100%;
  }
  .ourServices-pg .p-container {
    top: 20%;
  }
  .ourServices-pg .p-container h1 {
    font-size: 1.5rem;
    letter-spacing: .4rem
  }
  .ourServices-pg .p-container .content-con
  {
    padding: .5rem;
  }
  .ourServices-pg .content-con p
  {
    letter-spacing: .02rem;
    line-height: 1.5rem;
  }
  .ourServices-pg .partner
  {
    width: unset;
  }
  .ourServices-pg .partner img
  {
    height: 25px;
  }
}

/* start conatctUs-pg style */
.conatctUs-pg .img-sec
{
  background-image: url(../img/contact-us.jpg);
  background-size: cover;
}
.conatctUs-pg .img-sec .layer-bg
{
  background-color: #198fbe;
  mix-blend-mode: multiply;
}
.conatctUs-pg .contactDetials .icon-cont
{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .conatctUs-pg .img-sec
  {
    background-size: 100% 100%;
    height: 20vh;
  }
}
/* plans style */

.plans-pg
{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.plans-pg .plans-s1 .plans-container
{
  display: flex;
  align-content: stretch;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.plans-pg .plans-s1 .plan-card
{
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 265px;
  border-radius: 0.375rem;
  padding: 1.5rem 0;
  background: var(--primary-color);
}

/* login/logout */
.login-pg,
.signin-pg
{
  display: grid;
  grid-template-columns: 1fr 500px;
  height: 100vh;
  background-image: url('../img/city-architectural-d.png');
  background-size: cover;
  background-position: center bottom;
}
.login-pg .s1-p-container,
.signin-pg .s1-p-container
{
  color: var(--primary-color);
  font-size: 2.5rem;
}
.login-pg .s1-p-container .bg-layer,
.signin-pg .s1-p-container .bg-layer,
.login-pg .login-form .bg-layer,
.signin-pg .signin-form .bg-layer
{
  position: absolute;
  height: 100%;
  width:100%;
  z-index: -1;
}
.login-pg .s1-p-container .bg-layer,
.signin-pg .s1-p-container .bg-layer
{
  background-color: #ffffffad;
}
.login-pg .login-form .bg-layer,
.signin-pg .signin-form .bg-layer
{
  background-color: #1195c9c9;
}
.login-pg .login-logo,
.signin-pg .login-logo
{
  position: absolute;
  top: -85px;
  left: -80px;
}
.login-pg .login-form input::placeholder
{
  color: #ffff;
}
/* signin */
.signin-pg .signin-form .name-inputs
{
  display: flex;
  gap: 0.5rem;
}
.signin-pg .signin-form input:not([type="radio"]) {
  width: 70%;
}
.signin-pg .signin-form form label
{
  color: #ffff;
  font-weight: 200;
  letter-spacing: .08rem;
  line-height: 1.7;
}
.signin-pg .signin-form input:not([type="radio"])
{
  border-radius: unset;
}
.signin-pg .signin-form input::placeholder
{
  color: #198fbe;
  text-align: center;
}

@media (max-width: 768px) {
.login-pg,
.signin-pg
{
  grid-template-columns: unset;
}
.login-pg .login-logo, .signin-pg .login-logo
{
  position: absolute;
  top: -75px;
  left: -30px;
}
  .login-pg .s1-p-container,
.signin-pg .s1-p-container
{
  font-size: 1.5rem;
  justify-content: center;
}
.signin-pg .signin-form input:not([type="radio"]),
.signup-mobile-dropdown {
  width: 100%;
}
.signin-pg .signin-form .name-inputs
{
  flex-wrap: wrap;
}
}

/* dashboard */
.userdashboard-pg
{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-image: linear-gradient(#f8f9fa 50%, #6fc7e842 50%);
}
.userdashboard-pg .panal-container
{
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 1.5rem;
}
.userdashboard-pg .side-bar,
.userdashboard-pg .statics-container,
.userdashboard-pg .most-watshed
{
  border-radius: 20px;
  filter: drop-shadow(0px 10px 10px rgba(196,200,208,0.4 ));
  background: #ffffff
}

.userdashboard-pg .side-bar
{
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
}
.userdashboard-pg .side-bar .top-sec img
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 0px 3px 3px rgba(0,0,0,0.16 );
}
.userdashboard-pg .side-bar ul li
{
  margin: .3rem 0;
  padding: 5px 15px;
}
.userdashboard-pg .side-bar ul li a,
.userdashboard-pg .side-bar a:last-child p
{
  color: #d0dbe5;
}
.userdashboard-pg .side-bar .side-bar-active
{
  border-radius: 20px;
  background-color: #eaf2ff;
}
.userdashboard-pg .side-bar .side-bar-active a
{
  font-size: 14px;
  color: var(--primary-color);
}
.userdashboard-pg .side-bar .side-bar-active svg
{
  fill: #1990be;
}
.userdashboard-pg .side-bar svg
{
  width: 25px;
  height: 25px;
  fill: #d0dbe5;
  margin-right: .5rem;
}
.userdashboard-pg .side-bar ul,
.userdashboard-pg .most-watshed ul
{
  padding: 0;
}
.userdashboard-pg .most-watshed
{
  display: grid;
  grid-template-rows: 30px auto 1fr;
}
.userdashboard-pg .most-watshed ul
{
  height: calc(100% - 40px);
  overflow-y: auto;
}
.userdashboard-pg .most-watshed ul li
{
  margin: .3rem 0;
  padding: 5px;
}
.userdashboard-pg .most-watshed ul a
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .3rem;
  color: #52575d;
  letter-spacing: .31px;
  line-height: 22px;
  font-size: 14px;
}
.userdashboard-pg .most-watshed ul a span
{
  color: #d0dbe5;
}

